{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Question Board</title>

    <!-- credit to https://github.com/js-cookie/js-cookie for the js cookie api for handling cookies -->
    <script type="text/javascript" src="{% static 'queue_t/vendor/jquery/js.cookie.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'queue_t/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'queue_t/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'queue_t/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'queue_t/js/loveReceiver.js' %}"></script>

    <style type="text/css">

      body{
        background-color: #D5E3EA;
      }

    </style>


</head>
<body>

</body>
<script>


</script>

</html>
