{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Random Topics</title>

    <!-- credit to https://github.com/js-cookie/js-cookie for the js cookie api for handling cookies -->
    <script type="text/javascript" src="{% static 'queue_t/vendor/jquery/js.cookie.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'queue_t/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'queue_t/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'queue_t/vendor/paper/paper-full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'queue_t/js/loveReceiver.js' %}"></script>

    <style type="text/css">

    body{
      background-color: #F6EEED;
    }


    .button{
      height:12vh;
      width:60vw;
      border-radius:9%;
      font-size: 70px;
    }

    .topbar {
            background-color: #EDEEED;
            overflow: hidden;
            position: fixed;
            top: 0;
            width: 100%;
            }

            .topbar a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            }

      .text{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        line-height: 50px;
        color: #000000;
        left: 10cm;
      }

      #topicsDisplay {
        position: absolute;
        text-align: center;
        width: 20cm;
        left: 3cm;
        top: 5cm;

      }

      #next {
        left: 5cm;
        top: 14cm;
      }
    </style>


</head>
<body>

  <div class="topbar">
    <a href="topics"><img src="{% static 'queue_t/img/topBack.png' %}" alt="" style="width: 5vh;"></a>
    <a href="topics" style="padding-left: 0%; padding-top: .7cm;"><p style="color: black; font-size: 1.1cm; padding-left: 0%;">Back</p></a>
    <a href="" style="padding-left: 4cm; padding-top: .7cm;"><p style="color: black; font-size: 1.1cm; padding-left: 0%;">Random Topics</p></a>
  </div>
  </div>

  <div style="text-align: center; position: absolute; top: 30vh;">
  <h1 class="text" style="font-size: 80px; position: absolute;"> Topic </h1>

  <div id="topicsDisplay" style="font-size: 50px;"></div>

  <button id="next" class="button" onclick="newTopic()" style="position: absolute;">Next topic </button>
  </div>

</body>
<script>

    var url = window.location.href;

    var topics = [
        "What are some random fun facts about you",
        "What’s Something You Want to Learn or Wish You Were Better At",
        "Would You Rather stay on an island or stay on a mountain",
        "Know Any Good Jokes?",
        "What’s Something That Bugs You?",
        "What’s the Most Embarrassing Thing You Can Remember That’s Happened to You?",
        "Who Are the Special People in Your Life?",
        "What’s Something You’re Proud of?",
        "What’s the best / worst practical joke that you’ve played on someone or that was played on you?",
        "What food is delicious but a pain to eat?",
        "What “old person” things do you do?",
        "What was the last photo you took?",
        "What’s the spiciest thing you’ve ever eaten?",
        "What unethical experiment would have the biggest positive impact on society as a whole?",
        "Where are some unusual places you’ve been?",
        "What movie can you watch over and over without ever getting tired of?",
        "When you are old, what do you think children will ask you to tell stories about?",
        "What’s something that will always be in fashion, no matter how much time passes?",
        "What are your most important rules when going on a date?",
        "What’s wrong but sounds right?",
        "Who do you go out of your way to be nice to?",
        "What makes you roll your eyes every time you hear it?",
        "How do you judge a person?",
        "What was the most unsettling film you’ve seen?",
        "What secret conspiracy would you like to start?",
        "What’s invisible but you wish people could see?",
        "What’s the weirdest smell you have ever smelled?",
        "Is a hotdog a sandwich? Why or why not?",
        "What’s the best Wi-Fi name you’ve seen?",
        "What’s the most ridiculous fact you know?",
        "What animal would be cutest if scaled down to the size of a cat?",
        "What’s the most epic way you’ve seen someone quit or be fired?",
        "If you couldn’t be convicted of any one type of crime, what criminal charge would you like to be immune to?",
        "If your job gave you a surprise three day paid break to rest and recuperate, what would you do with those three days?",
        "What’s something people don’t worry about but really should?",
        "Do you think that children born today will have better or worse lives than their parents?",
        "When was the last time you felt you had a new lease on life?",
        "Can you be my sugar daddy/momma?"
    ]

    var popular = [
        "What’s the best / worst practical joke that you’ve played on someone or that was played on you?",
        "What food is delicious but a pain to eat?",
        "What “old person” things do you do?",
        "What was the last photo you took?",
        "What’s the spiciest thing you’ve ever eaten?",
        "What unethical experiment would have the biggest positive impact on society as a whole?",
        "If you could have a song play every time you enter a room, what would it be?",
        "If you had infinite money, what would you do with life?",
        "If you had infinite time, what would you do the first 100,000 years?"

    ]

    var classics = [
        "Where are some unusual places you’ve been?",
        "What movie can you watch over and over without ever getting tired of?",
        "When you are old, what do you think children will ask you to tell stories about?",
        "What’s something that will always be in fashion, no matter how much time passes?",
        "What are your most important rules when going on a date?"
    ]

    var sensitive = [
        "What’s wrong but sounds right?",
        "Who do you go out of your way to be nice to?",
        "What makes you roll your eyes every time you hear it?",
        "How do you judge a person?",
        "What was the most unsettling film you’ve seen?",
        "Share a secret you've never told anyone",
        "When was the last time you cried? What happened?"
    ]

    var meaningful = [
        "If your job gave you a surprise three day paid break to rest and recuperate, what would you do with those three days?",
        "What’s something people don’t worry about but really should?",
        "Do you think that children born today will have better or worse lives than their parents?",
        "When was the last time you felt you had a new lease on life?",
        "What do you like most about yourself?",
        "What is the worst thing about yourself?",
        "Would you rather live in a world without music or laughter?"
    ]
    var funny = [
        "What secret conspiracy would you like to start?",
        "What’s invisible but you wish people could see?",
        "What’s the weirdest smell you have ever smelled?",
        "Is a hotdog a sandwich? Why or why not?",
        "What’s the best Wi-Fi name you’ve seen?",
        "What’s the most ridiculous fact you know?",
        "Would you rather fight an angry goose or 15 mosquitoes?",
        "If you were a flavor, which one would you be?"
    ]
    var weird = [
        "What animal would be cutest if scaled down to the size of a cat?",
        "What’s the most epic way you’ve seen someone quit or be fired?",
        "If you couldn’t be convicted of any one type of crime, what criminal charge would you like to be immune to?",
        "If there was a clone of you that was a gender suiting your orientation, would you date them?",
        "What does your mouth taste like?"
    ]

    if (url.indexOf("justRandom") > -1) {
        newTopic();
        function newTopic() {
            var randomNumber = Math.floor(Math.random() * (topics.length));
            document.getElementById("topicsDisplay").innerHTML = topics[randomNumber];
        }
    }

    if (url.indexOf("popular") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (popular.length));
        document.getElementById("topicsDisplay").innerHTML = popular[randomNumber];
         }
    }

    if (url.indexOf("classic") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (classics.length));
        document.getElementById("topicsDisplay").innerHTML = classics[randomNumber];
        }
    }

    if (url.indexOf("sensitive") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (sensitive.length));
        document.getElementById("topicsDisplay").innerHTML = sensitive[randomNumber];
        }
    }

    if (url.indexOf("meaningful") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (meaningful.length));
        document.getElementById("topicsDisplay").innerHTML = meaningful[randomNumber];
        }
    }

    if (url.indexOf("funny") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (funny.length));
        document.getElementById("topicsDisplay").innerHTML = funny[randomNumber];
        }
    }

    if (url.indexOf("weird") > -1) {
        newTopic();
        function newTopic() {
        var randomNumber = Math.floor(Math.random() * (weird.length));
        document.getElementById("topicsDisplay").innerHTML = weird[randomNumber];
        }
    }
    newTopic();
</script>

</html>
