{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'draw/css/style.css' %}" />
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">

    </style>


</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    Chat room implementation
    <br>
    <form onsubmit="return false;">
      <h2>Welcome to the WebSocket chat room:</h2>
      <textarea id="responseText" style="width: 500px; height: 500px;"></textarea>
      <br>
      <input type="text" name="message" style="width: 400px" value="Please type in your text">
      <input type="button" value="send messages" onclick="send(this.form.message.value)">       <!-- onlick with javascript: drew inspiration from stackoverflow-->
      <input type="button" onclick="javascript:document.getElementById('responseText').value=''"value="Clear the chatbox">
	</form>
</body>
<script>
  var socket = new WebSocket('ws://' + window.location.host + '/ws/draw');
  // Append the new input to the original text string
  socket.onmessage = function (event) {
			var text = document.getElementById('responseText');
			text.value += '\n' + event.data;
	};
  // when the websocket is ready, inform the user
	socket.onopen = function (event) {
			var text = document.getElementById('responseText');
			text.value = "The connection is open!";
	};
  // When the websocket is no longer active, inform the user
	socket.onclose = function (event) {
			var ta = document.getElementById('responseText');
			ta.value = ta.value + "Connection was closed";
	};
  // click the button will send message to server by the WebSocket
  function send(message) {
  		if (!window.WebSocket) {
  			return;
  		} else if (socket.readyState == WebSocket.OPEN) {
  			socket.send(message);
  		} else {
  			alert("The connection is not open.");
  		}
  }
</script>





</html>
