{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Topics</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">

      body{
        background-color: #F5EEED;
      }

      /* height is for vertical distance between boxes */
      .boxes{
        text-align:center;
        height:24vh;
        font-size:3vh;
      }

      .button{
        height:18vh;
        width:32vw;
        border-radius:12%;
      }

      .add_btn{
        height:6.75vh;
        width:12vw;
        border-radius:50%;
        font-size:3.5vh;
      }
    </style>


</head>
<body>
  <!-- <div id=top_bar style="text-align:center; height:10vh; padding-top:5vh;padding-bottom:5vh;font-size:5vh;"> Topics </div> -->
  <div style="height:12vh"> </div>
  <div class="container-fluid" style="padding-left:6vw;padding-right:6vw">
    <div class="row boxes">
      <div class="col-6">
        <a href="#random">
          <button class="button" style="background:#D8E2DC">Random</button>
        </a>
      </div>
      <div class="col-6">
        <a href="#popular">
          <button class="button" style="background:#FFE5D9">Popular</button>
        </a>
      </div>
    </div>
    <div class="row boxes">
      <div class="col-6">
        <a href="#classic">
          <button class="button" style="background:#9D8189">Classic</button>
        </a>
      </div>
      <div class="col-6">
        <a href="#sensitive">
          <button class="button" style="background:#FFCAD4">Sensitive</button>
        </a>
      </div>
    </div>
    <div class="row boxes">
      <div class="col-6">
        <a href="#meaningful">
          <button class="button" style="background:#778DA9">Meaningful</button>
        </a>
      </div>
      <div class="col-6">
        <a href="#funny">
          <button class="button" style="background:#FFE66D">Funny</button>
        </a>
      </div>
    </div>

    <div class="row boxes">
      <div class="col-6">
        <a href="#weird">
          <button class="button" style="background:#9163CB">Weird</button>
        </a>
      </div>
      <div class="col-6" style="padding-top:6vh">
        <a href="#">
          <button class="add_btn">+</button>
        </a>
      </div>
    </div>
  </div>
</body>
<script>


</script>

</html>
